.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site
site_libs/quarto-ojs
blog/posts/predoc-task-1/task
blog/posts/predoc-task-2/task
blog/posts/colemak-qwerty-words/data/wordlist.txt

**/data/raw/
*.pyc