.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site
site_libs/quarto-ojs
blog/predoc-task-1/task
blog/predoc-task-2/task
blog/colemak-qwerty-words/data/wordlist.txt

*.pyc

**/data/*
!**/data/.gitkeep
**/*.quarto_ipynb
