/* css styles */
.nav-link{
  color: var(--bs-secondary);
  opacity: .85;
}

a {
  color: var(--bs-secondary);
  opacity: .85;
}

.quarto-category a {
  color: var(--bs-primary) !important;
  opacity: 1 !important;
}

.navbar-dark .navbar-brand {
  color: var(--bs-white);
  opacity: 1 !important;
}

#quarto-header {
  padding-right: 1rem;
}
#quarto-header .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--bs-primary) !important;
}
#quarto-header .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #quarto-header {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  #quarto-header .navbar-brand {
    display: flex;
    margin: auto auto 0;
    margin-right: 5rem;
    margin-left: 4.5rem;
    padding: 0rem;
    font-size: 2rem;
    letter-spacing: 0.05rem;
  }
  #quarto-header .navbar-collapse {
    display: flex;
    align-items: left;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
    padding-top: .36rem;
  }
  #quarto-header .navbar-collapse .navbar-nav {
    flex-direction: row;
    width: 100%;
  }
  #quarto-header .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #quarto-header .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  #quarto-header ul li a {
    position: relative;
    transition: 0s;
  }
  #quarto-header ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: var(--bs-primary);
    transition: transform 0s;
    transform: scaleX(0);
  }
  #quarto-header ul li a:hover::after {
    transform: scaleX(1);
  }

  #quarto-header .navbar-brand-container {
    background-color: var(--bs-secondary);
    transition: .5s ease-in-out, transform .5s ease-in-out;
    border-radius: .25rem !important;
    min-width: auto;
    margin-right: 0;
  }

  #quarto-header .navbar-brand-container:hover {
    background-color: var(--bs-primary);
    opacity: .85 !important;
  }

  #quarto-header .navbar-brand {
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
  }

  #quarto-header .navbar-brand-container:hover .navbar-brand {
    color: var(--bs-secondary) !important;
  }

  #quarto-header .active {
    color:            #F8F8F8 !important;
    background-color: #4f81bd;
    opacity: 1 !important;
  }

}
.sidebar nav[role="doc-toc"] ul > li > a.active, .sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  color: var(--bs-secondary) !important;
	border-left: 1px solid var(--bs-secondary);
  font-weight: 400;
}
.sidebar nav[role="doc-toc"] ul > li > a:hover, .sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: black !important;
	border-left: 1px solid var(--bs-gray-700);
  font-weight: 400;
}
.sidebar .quarto-alternate-notebooks ul li a, .sidebar .quarto-alternate-formats ul li a, .sidebar nav[role="doc-toc"] > ul li a {
  color: var(--bs-gray-700) !important;
	border-left: 1px solid #d58ef9;
  font-weight: 400;
}
