/*-- scss:defaults --*/
$primary: #eeccff !default;
$link-color: $primary !default;

$toc-color: $primary !default;
$toc-active-border: $primary !default;

$code-color: $primary !default;

$navbar-dark-brand-color: #ffffff !default;
