/* css styles */

.navbar-dark .navbar-brand {
  color: var(--bs-white);
  opacity: 1 !important;
}

.quarto-title h1, .quarto-category, .quarto-category a {
  color: var(--bs-primary) !important;
  opacity: 1 !important;
}

#quarto-header .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--bs-primary) !important;
}

#quarto-header .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  
  #quarto-header .navbar-brand {
    margin-right: 5rem;
    margin-left: 4.5rem;
    padding: 0rem;
    font-size: 2rem;
  }
  
  #quarto-header ul li a {
    position: relative;
    transition: 0s;
  }
  
  #quarto-header ul li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: var(--bs-primary);
    transition: transform 0s;
    transform: scaleX(0);
  }

  #quarto-header ul li a:hover::after {
    transform: scaleX(1);
  }

  #quarto-header .navbar-brand-container {
    background-color: var(--bs-secondary);
    transition: .5s ease-in-out, transform .5s ease-in-out;
    border-radius: .25rem !important;
  }

  #quarto-header .navbar-brand-container:hover {
    background-color: var(--bs-primary);
  }

  #quarto-header .navbar-brand {
    -webkit-transition: color .5s;
    -moz-transition:    color .5s;
    -ms-transition:     color .5s;
    -o-transition:      color .5s;
    transition:         color .5s;
  }

  #quarto-header .navbar-brand-container:hover .navbar-brand {
    color: var(--bs-secondary) !important;
  }

  #quarto-header .active, #quarto-sidebar .sidebar-item.active {
    color:            var(--bs-white) !important;
    background-color: var(--bs-blue);
    opacity: 1 !important;
  }

  .sidebar.sidebar-navigation > * {
    padding-top: 0em;
  }

  .sidebar-navigation .sidebar-section .sidebar-item, .sidebar-navigation .sidebar-item {
    font-size: 1rem;
  }

  .sidebar-navigation a {
    color: var(--bs-gray-600);
  }

  .sidebar .quarto-other-links ul li a, .sidebar .quarto-alternate-notebooks ul li a, .sidebar .quarto-alternate-formats ul li a, .sidebar nav[role="doc-toc"] > ul li a {
    color: var(--bs-gray-600);
  }

}

@media (max-width: 991.98px) {
  #quarto-sidebar .sidebar-menu-container {
    white-space: inherit;
    max-width: 250px;
    min-width: 250px;
  }
  
  .quarto-secondary-nav nav.quarto-page-breadcrumbs {
    display: none !important;
  }

  .quarto-secondary-nav .quarto-btn-toggle {
    color: var(--bs-primary);
  }

  nav.quarto-secondary-nav {
    background-color: var(--bs-secondary);
    border-bottom: 0px solid #dee2e6;
  }

  body.nav-sidebar .quarto-title-banner {
    padding-bottom: 1rem;
  }
}

.color-fade {
  -webkit-transition: color .5s !important;
  -moz-transition:    color .5s !important;
  -ms-transition:     color .5s !important;
  -o-transition:      color .5s !important;
  transition:         color .5s !important;

}

.bg-color-fade {
  -webkit-transition: background-color .5s !important;
  -moz-transition:    background-color .5s !important;
  -ms-transition:     background-color .5s !important;
  -o-transition:      background-color .5s !important;
  transition:         background-color .5s !important;
}

.transition {
  -webkit-transition: all .5s !important;
  -moz-transition:    all .5s !important;
  -ms-transition:     all .5s !important;
  -o-transition:      all .5s !important;
  transition:         all .5s !important;
}

div.observablehq svg {
  background-color: var(--bs-body-bg);
}
