/*-- scss:defaults --*/
$primary: #eeccff !default;
$secondary: #003601 !default;
$blue: #4f81bd !default;

$link-color: $secondary !default;

$toc-color: $secondary !default;
$toc-font-size: 300 !default;
$toc-active-border: $secondary !default;
$toc-inactive-border: $gray-500 !default;

$navbar-padding-y: .36rem !default;

$font-size-root: 16px !default;
$font-family-sans-serif: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial !default;

/*-- scss:rules --*/

.sidebar-navigation a:hover {
  color: $link-color;
  opacity: 1;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
	color: $link-color;
}

